FaceRecognition/dataset
FaceRecognition/videos
FaceDetection/rooster.jpg
config.ini
BuildFaceDataset/dataset
BuildFaceDataset/images
BuildFaceDataset/urls.txt
FaceClustering/dataset
Face-Detection/deploy.prototxt.txt
Face-Detection/res10_300x300_ssd_iter_140000.caffemodel
Realtime-Object-Detection/MobileNetSSD/MobileNetSSD_deploy.caffemodel
Realtime-Object-Detection/MobileNetSSD/MobileNetSSD_deploy.prototxt.txt
Object-Tracking/Multiple-Object-Tracking/videos
Object-Tracking/People-Counter/mobilenet_ssd
Object-Tracking/People-Counter/videos
Object-Tracking/People-Counter/output
Text-Detection/images
Text-Detection/frozen_east_text_detection.pb
Neural-Style-Transfer/images
Neural-Style-Transfer/models
Semantic-Segmentation/images
Semantic-Segmentation/videos
Semantic-Segmentation/enet-cityscapes
Simple-Image-Classifier/animals
Simple-Image-Classifier/images
Simple-Image-Classifier/output
Text-Recognition/images
Text-Recognition/frozen_east_text_detection.pb
Text-Skew-Correction/images
Facial-Landmark-Detection/5-Point-Detector/shape_predictor_5_face_landmarks.dat
Realtime-Object-Detection/Mask_RCNN/cars.jpg
Realtime-Object-Detection/Mask_RCNN/cars.mp4
Realtime-Object-Detection/Mask_RCNN/model/frozen_inference_graph.pb
Realtime-Object-Detection/Mask_RCNN/model/mask_rcnn_inception_v2_coco_2018_01_28.pbtxt
EigenFace-PCA/images
Object-Tracking/Dlib-Object-Tracking/Single-Object/mobilenet_ssd
Object-Tracking/Dlib-Object-Tracking/Single-Object/input
Object-Tracking/Dlib-Object-Tracking/Single-Object/output
Object-Tracking/Dlib-Object-Tracking/Multi-Object/race.mp4
Object-Tracking/Dlib-Object-Tracking/Multi-Object/mobilenet_ssd
Object-Tracking/Dlib-Object-Tracking/Multi-Object/race_output_fast.avi
Meme-GIF-Creation/assets
Meme-GIF-Creation/images
Realtime-Object-Detection/Yolo-v3/videos
Realtime-Object-Detection/Yolo-v3/yolo-coco
Realtime-Object-Detection/Yolo-v3/output