FaceRecognition/dataset
FaceRecognition/videos
FaceDetection/deploy.prototxt.txt
FaceDetection/res10_300x300_ssd_iter_140000.caffemodel
FaceDetection/rooster.jpg
config.ini
BuildFaceDataset/dataset
BuildFaceDataset/images
BuildFaceDataset/urls.txt
FaceClustering/dataset
